In [1]:
import pandas as pd

In [58]:
df=pd.read_csv('Z:\\Z 5\\ML\\weather.csv')

df=pd.DataFrame(df)
df.drop(columns='Example',inplace=True)
# df['EnjoySport'][0]='no'
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [56]:
def update(main,temp):
    for i in range(len(main)):
        if main[i]!=temp[i]:
            main[i]='?'
    return main

In [59]:
cols=len(df.columns)
# l=[None]*cols
l=list(df[df['EnjoySport']=='yes'].iloc[0])
for i in range(0,len(df)):
    if (df.iloc[i]['EnjoySport']=='yes'):
        t=list(df.iloc[i])
        l=update(l,t)
print(l)

['sunny', 'warm', '?', 'strong', '?', '?', 'yes']

# CANDIDATE ELIMINATION ALGORITHM

In [67]:
df=pd.read_csv('Z:\\Z 5\\ML\\Book1.csv')
df=pd.DataFrame(df)
# df.drop(columns='Example',inplace=True)

     sky temperature   Humid    wind water  forest output
0  sunny        warm  normal  strong  warm    same    yes
1  sunny        warm    high  strong  warm    same    yes
2  rainy        cold    high  strong  warm  change     no
3  sunny        warm    high  strong  cool  change    yes

In [95]:
def update1(main,temp):
    for i in range(len(main)):
        if main[i]!=temp[i]:
            main[i]='?'
    return main


def update2(main,m2,temp):
    
    for i in range(len(m2)):
        l=['?']*len(m2)
        if m2[i]!=temp[i]:
            l[i]=m2[i]
            main[i]=l
            l=['?']*len(m2)
    return main


def synchronise(gen,spe):
    for i in range(len(spe)):
        if (gen[i][i]!='?' and spe[i]=='?'):
            gen[i][i]='?'
    return gen

In [97]:
cols=len(df.columns)
row=len(df)

gen=[['?']*(cols)]*(cols)
# gen=[]
spe=list(df[df['output']=='yes'].iloc[0])

for i in range(row):
    l=list(df.iloc[i])
    if (df.iloc[i]['output']=='yes'):
        spe=update1(spe,df.iloc[i])
    else:
        gen=update2(gen,spe,df.iloc[i])

gen=synchronise(gen,spe)
print(spe)
print(gen)

['sunny', 'warm', '?', 'strong', '?', '?', 'yes']
[['sunny', '?', '?', '?', '?', '?', '?'], ['?', 'warm', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', 'yes']]

# Naive Bayes

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Z:\\Z 5\\ML\\bayesian.csv')
df

     Outlook Temperature Humidity  Windy Class
0      sunny         hot     high  False     N
1      sunny         hot     high   True     N
2   overcast         hot     high  False     P
3       rain        mild     high  False     P
4       rain        cool   normal  False     P
5       rain        cool   normal   True     N
6   overcast        cool   normal   True     P
7      sunny        mild     high  False     N
8      sunny        cool   normal  False     P
9       rain        mild   normal  False     P
10     sunny        mild   normal   True     P
11  overcast        mild     high   True     P
12  overcast         hot   normal  False     P
13      rain        mild     high   True     N

In [111]:
train=df[:12]

test=df[12:]

In [86]:
Y=list(df['Class']).count('P')
N=list(df['Class']).count('N')
P_Y=Y/len(df)
P_N=N/len(df)

col=df.columns

def probs(i,s,d,Y,N):
    tot=len(df[i])
    p_n=df[i][(df['Class']=='N') & (df[i]==s)]
    p_y=df[i][(df['Class']=='P')  & (df[i]==s)]
#     print(s," ",len(p_y),'  ',len(p_n))
    d[s]=list([len(p_y)/Y,len(p_n)/N])
d={}
for i in col:
    s=set(df[i])
    for j in s:
        probs(i,j,d,Y,N)
print(d)

{'sunny': [0.2222222222222222, 0.6], 'rain': [0.3333333333333333, 0.4], 'overcast': [0.4444444444444444, 0.0], 'hot': [0.2222222222222222, 0.4], 'mild': [0.4444444444444444, 0.4], 'cool': [0.3333333333333333, 0.2], 'high': [0.3333333333333333, 0.8], 'normal': [0.6666666666666666, 0.2], False: [0.6666666666666666, 0.4], True: [0.3333333333333333, 0.6], 'P': [1.0, 0.0], 'N': [0.0, 1.0]}

In [112]:
cols=test.columns
# print(cols)
k=0
for ind,i in test.iterrows():
#     print(i.values)
    p,n=1,1
    for j in i.values[:-1]:
        p*=d[j][0]
        n*=d[j][1]
    p*=P_Y
    n*=P_N
#     print(p,"  ",n)
    if (p>n):
        print('Positive')
    else:
        print('Negative')

['overcast' 'hot' 'normal' False 'P']
0.028218694885361547    0.0
Positive
['rain' 'mild' 'high' True 'N']
0.010582010582010581    0.027428571428571438
Negative

Outlook        overcast
Temperature         hot
Humidity         normal
Windy             False
Name: 12, dtype: object
Outlook        rain
Temperature    mild
Humidity       high
Windy          True
Name: 13, dtype: object